:root {
    --color-main-dark-grey: #4C4C4C;
    --color-medium-grey: #636363;
    --color-secondary-white: #FFFFFF;
}

.side-bar {
    background-color: var(--color-main-dark-grey);
    color: var(--color-secondary-white);
    width: 300px;
    top: 0;
    position: fixed;
    z-index: 9999;
    height: 100vh;
}

.side-bar-top {
    width: 275px;
    min-height: 12vh;
    display: flex;
    justify-content: flex-end;
}

.side-bar-top-button {
    width: 30%;
}

.side-bar-nav:hover {
    background-color: var(--color-medium-grey);    
}