:root {
    --color-main-dark-grey: #4C4C4C;
    --color-form-light-grey: #EDEDED;
}

.form-control {
    border: 0px solid;
    background-color: var(--color-form-light-grey);
}

.form-control:focus {
    border: 3px solid var(--color-main-dark-grey);
    background-color: var(--color-form-light-grey);
    box-shadow: none;
}