@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --color-main-dark-grey: #4C4C4C;
    --color-secondary-white: #FFFFFF;
    --font-family-main: "Nunito", sans-serif;
}

* {
   margin: 0; 
   padding: 0;    
}

.banner {
    background-color: var(--color-main-dark-grey);
    color: var(--color-secondary-white);    
    min-height: 12vh;
    display: flex;
    font-size: 1.5rem;
    line-height: 1.5em;
    font-family: var(--font-family-main);
    width: 100%;
    justify-content: space-between;
    box-shadow: 4px 0px 4px 0px #000;                 
}

.banner-navigations {
    display: flex;    
    flex-direction: row;    
    align-items: center;
    gap: 4.063rem;
    padding-left: 12vw;
    background-color: var(--color-main-dark-grey);  
}

.banner-navigations-menu {
    display: none;
}

.banner-select-language {
    display: flex;
    align-items: center;     
    flex-direction: row;
    flex-wrap: nowrap;    
    gap: 5px;
    flex-flow: row;
    padding-right: 12vw;    
    background-color: var(--color-main-dark-grey);     
}

.side-bar {
    display: none;
}

@media only screen and (max-width: 980px) {

    .banner-link {
        display: none;
    }

    .banner-navigations-menu {
        display: block;
    }

}

@media only screen and (max-width: 1136px) {

    .banner-navigations {
        padding-left: 6vw;
    }

    .banner-select-language {
        padding-right: 6vw;        
    }

}