@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --font-family-main: "Nunito", sans-serif;
    --color-main-dark-grey: #4C4C4C;
    --color-secondary-light-grey: #DBDBDB;
}

* {
    padding: 0;
    margin: 0;
}

.home {
    display: flex;
    flex-flow: column;
    font-family: var(--font-family-main);
    align-items: center;
    justify-content: center;
    min-height: 88vh;
    padding-top: 1rem;
}

.home-image {
    border-radius: 50%;
    width: 9.375rem;
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.05),
        0 2px 3px rgba(0, 0, 0, 0.05),
        0 4px 8px rgba(0, 0, 0, 0.05);
}

.home-title {
    font-size: 3rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.home-subtitle {
    font-size: 2rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.home-text {
    font-size: 1.5rem;
    max-width: 72rem;
    padding-top: 3rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.home-subtitle-company {
    color: #43B1F9;
}

.home-icons {
    display: flex;
    flex-direction: row;    
    padding-top: 8%;
    padding-bottom: 8%;
    gap: 2rem;
    align-items: center;
}

.home-arrow-animation {    
    padding-bottom: 2rem;
    transform: translate(-50%, -50%);
    transform: rotate(0deg);
    cursor: pointer;
}

.home-arrow-animation span {
    display: block;
    width: 24px;
    height: 24px;
    border-bottom: 5px solid var(--color-main-dark-grey);
    border-right: 5px solid var(--color-main-dark-grey);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.home-arrow-animation span:nth-child(2) {
    animation-delay: -0.2s;
}

.home-arrow-animation span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@media only screen and (max-width: 980px) {

    .home-title {
        font-size: 2.0rem;
        padding-right: 8vw;
        padding-left: 8vw;
    }
    
    .home-subtitle {
        font-size: 1.25rem;
        padding-right: 8vw;
        padding-left: 8vw;
    }

    .home-text {
        font-size: 1rem;
        padding-top: 3rem;
        padding-right: 8vw;
        padding-left: 8vw;
    }

    .home-icons {
        padding-top: 10vh;
        padding-bottom: 10vh;        
    }

}