@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --color-secondary-white: #FFFFFF;
    --color-button: #0d6efd;
}

* {
    padding: 0;
    margin: 0;
}

.standard-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary-white);
    background-color: var(--color-button);
    font-size: 1.2rem;
    border: 2rem;
    min-height: 5vh;
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.25),
        0 2px 3px rgba(0, 0, 0, 0.25),
        0 4px 8px rgba(0, 0, 0, 0.25);
}

.standard-button:link {
    display: flex;
    justify-content: center;
}
