@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
}

.app {    
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    height: auto;
    font-family: "Nunito", sans-serif;
}