@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --color-main-dark-grey: #4C4C4C;
    --color-secondary-white: #FFFFFF;
    --color-detail-blue: #43B1F9;
    --color-form-medium-grey: #636363;
    --color-form-light-grey: #EDEDED;
    --font-family-main: "Nunito", sans-serif;
}

* {
   margin: 0; 
   padding: 0;    
}

.contact-form {
    margin-top: 5%;
    color: var(--color-form-medium-grey);
    border: 1px solid var(--color-secondary-light-grey);
    box-shadow:
        0 2px 1px rgba(0, 0, 0, 0.05),
        0 2px 3px rgba(0, 0, 0, 0.05),
        0 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 5%;
}

#contact-form-content {
    height: 100%;
    padding-left: 4.8%;
    padding-right: 4.8%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    min-width: 36vw;
}

.contact-form-content-title {
    font-size: 2rem;
    padding-bottom: 5%;
}

.contact-form-content-name {
    padding-bottom: 3.75%;
}

.contact-form-content-email {
    padding-bottom: 3.75%;
}

.contact-form-content-subject {
    padding-bottom: 5%;
}

.contact-form-content-subtitle {
    font-size: 1.2rem;
    padding-bottom: 3.75%;
}

.contact-form-content-button {
    margin: auto;
}

