:root {
    --color-font-medium-grey: #636363;
}

* {
    margin: 0%;
    padding: 0%;
}

.projects-link-card {
    width: 100%;
    height: 100%;
}

.projects-link-card-subtitle {
    color: var(--color-font-medium-grey);
}