.banner-link:visited, .banner-link:hover, .banner-link:link, .banner-link:active {
    color: var(--color-secondary-white);
    text-decoration: none;
}

.banner-navigations-contrasted {
    font-weight: bold;
}