* {
    padding: 0;
    margin: 0;
}

.about {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    padding-top: 6vh;
    padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 3vw;    
    justify-content: space-between;
    gap: 8%;
}

.about-main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2rem;
}

.about-main-button {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}

.about-image {
    height: 85vh;
    align-self: center;
}

@media only screen and (max-width: 980px) {

    .about {
        flex-direction: column;
    }

    .about-main-title {
        font-size: 1.5rem;
    }
    
    .about-main-text {
        font-size: 1rem;    
    }

    .about-image {
        display: none;
    }

}

@media only screen and (min-width: 981px) {

    .about-main-title {
        font-size: 1.5rem;
    }
    
    .about-main-text {
        font-size: 1rem;    
    }

    .about-image {
        height: 65vh;        
    }

}

@media only screen and (min-width: 1280px) {

    .about-main-title {
        font-size: 3.5rem;
    }
    
    .about-main-text {
        font-size: 1.5rem;    
    }

}
